.infoSection {
  position: relative;
}

.infoContainer {
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 5% 2% 7% 3%/ 2% 7% 3% 5%;
  font-family: "Nanum Pen Script", cursive;
  font-size: 28px;
  display: flex;
  flex-direction: row;
  width: 750px;
  height: 600px;
  padding: 0.5em;

  background: url(https://img.freepik.com/foto-gratis/espacio-diseno-papel-textura-fondo_53876-42312.jpg?size=626&ext=jpg&ga=GA1.2.407212201.1603324800);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.infoContainer,
.infoContainer::before,
.infoContainer::after {
  /* Styles to distinguish sheets from one another */
  box-shadow: 2px 2px 10px #0008;
}

.infoContainer::before,
.infoContainer::after {
  content: "";
  position: absolute;
  height: 620px;
  width: 770px;
  background: url(https://img.freepik.com/foto-gratis/espacio-diseno-papel-textura-fondo_53876-42312.jpg?size=626&ext=jpg&ga=GA1.2.407212201.1603324800);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5% 3% 2% 7% / 7% 3% 5% 2%;
  border: 2px solid black;
}

.infoContainer::before {
  right: 15px;
  top: 0;
  transform: rotate(-3deg);
  z-index: -1;
}

.infoContainer::after {
  top: 5px;
  right: -5px;
  transform: rotate(3deg);
  z-index: -2;
}

label {
  font-size: 32px;
  margin-bottom: 0.2em;
}

label:first-of-type {
  margin-top: 0.5em;
}

input,
select {
  font-family: "Nanum Pen Script", cursive;
  font-size: 28px;
  border-radius: 37% 45% 62% 83%/ 47% 32% 53% 72%;
  border: 1px solid rgba(217, 255, 0, 0.7);
  background-color: rgba(217, 255, 0, 0.55);
  padding: 0 0.5em;
  margin-bottom: 0.8em;
  width: fit-content;
  outline: none;
}

select {
  max-width: calc(100% - 1.8em);
}

input[type="submit"] {
  font-size: 36px;
  background-color: #0000;
  border-radius: 37% 45% 62% 83%/ 47% 32% 53% 72%;
  border: 2px solid black;
  margin: 1em auto;
  box-shadow: 2px 2px 10px #0008;
  cursor: pointer;
}

input[type="submit"]:hover {
  box-shadow: 1px 1px 5px #0008;
}

a {
  font-family: "Nanum Pen Script", cursive;
  font-size: 28px;
  margin-bottom: 1em;
  color: black;
  text-decoration: none;
  outline: none;
  border: 2px solid transparent;
}

.infoContainer a:hover,
.infoContainer a:focus {
  border-radius: 37% 45% 62% 83%/ 47% 32% 53% 72%;
  border: 2px solid black;
}

img {
  border-radius: 5% 2% 7% 3%/ 2% 7% 3% 5%;
  border: 2px solid black;
  margin-bottom: 1em;
  max-width: 100%;
}

.scotch-tape {
  position: absolute;
  width: 200px;
  height: auto;
  border: none;
  left: 37%;
  top: -70px;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

.info_column {
  width: calc(50% - 1.6em);
  display: flex;
  flex-direction: column;
  margin: 0.8em;
}

.moreInfo {
  margin-left: 50px;
}
.episodesSection,
.travelsSection {
  width: 300px;
  height: 300px;
  background-color: rgb(251, 233, 67);
  border-radius: 12px 24px 3px 5px/ 2px 4px 13px 25px;
  transform: rotate(1deg);
  font-family: "Nanum Pen Script", cursive;
  box-shadow: 2px 2px 5px #0008;
  padding: 2px 20px;
  overflow: hidden;
  margin: 1em;
}
.travelsSection {
  transform: rotate(-2deg);
}

.episodesSection > h2,
.travelsSection > h2 {
  font-size: xx-large;
  margin: 0.5em;
}

.episodesSection-list {
  height: 75%;
  overflow-y: auto;
}

.episodesSection-list > li {
  font-size: x-large;
}
.episodesSection-list > li > a {
  border: none;
  cursor: pointer;
}

.episodesSection-list > li > a:hover,
.episodesSection-list > li:focus {
  text-decoration: underline;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  overflow: hidden;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px 40px 30px 55px/ 20px 40px 30px 55px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444;
}
