.header{
    position: absolute;
    top: 0;
    left:0;
    width: 100vw;
    height: 120px;
    display: flex;
    align-items: top;
    justify-content: space-between;
    background: transparent;
    font-family: "Nanum Pen Script", cursive;
    color:rgb(138, 211, 28);
}

.header>h1{
    margin: 20px 50px;
    font-size: 48px;
    color: rgb(138, 211, 28);
}

.links{
    margin: 30px 50px;
    font-size: 32px;
}

.links>a{
    margin: 0 0.15em;
    text-decoration: none;
    color: rgb(138, 211, 28);
}

.links>a:hover, .links>a:focus{
    text-decoration: underline;
}

.links>b{
    font-size: 32px;
    font-weight: 400;
    margin: auto 0;
}
